@model Asm.BankPlus.DataAccess.VirtualAccount
@{
    Layout = null;
}

<tr>
    <td><button id="close_@Model.VirtualAccountId" title="Close account" data-id="@Model.VirtualAccountId"><img src="~/content/images/close.png" /></button></td>
    <td>@Html.TextBoxFor(a => a.Name, new Dictionary<string, object> { { "data-id", Model.VirtualAccountId } })</td>
    <td>@Html.TextBoxFor(a => a.Description, new Dictionary<string, object> { { "class", "description" }, { "data-id", Model.VirtualAccountId } })</td>
    <td>@Model.Balance</td>
    <td>
        <input type="radio" name="DefaultAccount" value="@Model.VirtualAccountId" @(Model.DefaultAccount ? "checked=checked" : String.Empty) />
        @Html.HiddenFor(a => a.VirtualAccountId)
    </td>
</tr>