<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="version" content="@this.ApplicationInstance.Application["Version"].ToString()" />
    <link rel="apple-touch-icon" href="~/content/images/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/content/images/@Html.Skin()/apple-touch-icon-76x176.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/content/images/@Html.Skin()/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/content/images/@Html.Skin()/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-startup-image" href="~/content/images/@Html.Skin()/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="~/content/images/@Html.Skin()/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="~/content/images/@Html.Skin()/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" />
    <title>@ViewBag.Title - @Html.AppName()</title>
    <meta name="apple-mobile-web-app-title" content="@Html.AppName()" />
    <meta name="description" content="@Html.AppName() virtual banking" />
    <link href="~/content/images/favicon.png" rel="shortcut icon" />
    <link rel="stylesheet" href="~/content/css/site.min.css" type="text/css" />
    <link rel="stylesheet" href="~/content/css/site.responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="~/content/css/@Html.Skin()/skin.min.css" type="text/css" />
</head>
<body class="@(Request.Browser.Browser.ToLowerInvariant()) version-@(Request.Browser.MajorVersion) @ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString().ToLower() @ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower()">
    <header>
        <a href="~/"><img src="~/content/images/@Html.Skin()/moo@2x.png" alt="@Html.AppName()" class="desktop" width="76" height="111" /><img src="~/content/images/@Html.Skin()/moo-small@2x.png" alt="@Html.AppName()" class="img mobile" width="99" height="32" /></a>
        <nav>
            @if (User.Identity.IsAuthenticated)
            {
                <ul>
                    <li><a href="~/">Home</a></li>
                    <li class="desktop"><a href="~/virtualaccounts">Manage Accounts</a></li>
                    <li class="desktop"><a href="~/home/settings">Settings</a></li>
                    <li><a href="~/login/logout">Logout</a></li>
                </ul>
            }
        </nav>
    </header>
    @RenderBody()
    <footer>
        Copyright &copy; Andrew McLachlan 2013. All rights reserved.<br />
        <a href="http://www.andrewmclachlan.com">www.andrewmclachlan.com</a>
    </footer>
    <script type="text/javascript" src="~/content/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="~/content/js/core.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
